.btn-main {
  padding: 1.2rem 3rem;
  font-size: 2rem;
  border: none;
  border-radius: 3px;
  width: 20rem;
  font-family: "Press Start 2P", cursive, sans-serif;

  &:hover {
    background-color: $green-tint;
    color: $white;
  }
}
