/*

// -- 01 TYPOGRAPHY SYSTEM

// Font sizes (px)
// 10 / 12 / 14 / 16/ 18/ 20 / 24 /30 / 36 / 44 / 52 /62 / 74 / 86 / 98

font-family: 'Press Start 2P', cursive;


// Spacing Systempx)
// 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 /80 / 96 /128

// */

body {
  font-family: "Press Start 2P", cursive, sans-serif;
  line-height: 1;
  font-weight: 400;
}
